doctype html
html
    include head
    body
        include top
        .main-wrapper
            .chat-wrapper
                .chat
                    .chat-top
                        .message-box-wrapper
                            ul#message-list.message-list
                        div#user-list.user-list-wrapper
                    .chat-bottom
                        form#chat-form.chat-form
                            input#chat-input.chat-input(type='text' name='message' placeholder='Message')
                            button(type='submit' class="btn btn-primary" style) Send
        footer.footer
            .container
                .content
                    p
                        | Powered by
        script(src='scripts/index.js' defer)
        script(src='scripts/init.js' defer)