.login_wrapper {
    background-color: whitesmoke;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_choice_wrapper {
    color: gray;
    display: flex;
    justify-content: space-around;
}

.choice_active {
    color: black;
}

.login_header {
    cursor: pointer;
}

.not_active {
    color: gray;
}

.login_form {
    max-width: 50%;
}

.alert {
    font-size: 12px;
    color: red;
    margin: 0 !important;
    padding: 3px !important;
}

.bottom_form_wraper {
    display: flex;
    justify-content: space-between;
}

.social {
    cursor: pointer;
}

.social_wrapper {
    display: flex;
    width: 65px;
    justify-content: space-between;
    align-items: center;
}
.sing-up_button{
    justify-content: flex-end;
}